body {
  background-color: rgb(30, 30, 30);
}

#game-header {
  color: rgb(150, 150, 150);
    text-align: center;
    margin: 10px;
    font-size: 50;
}

#game-canvas {
  position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin:auto;
}

#start-button{
  position: absolute;
    top: 480px;
    left: 200;
    right: 0;
    margin:auto;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: bold;
  border-radius: 4px;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

#start-button:active{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(2px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

#scoreboard {
  color: rgb(150, 150, 150);
  text-align: center;
  margin-top: 350px;
  margin-right: 200px;
}

#game-over-popup {
  width: 500px;
  overflow: hidden;
  background: rgba(4, 0, 255, 0.76);
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  display: none;
}
